.patientDashboardContainer {
  min-height: calc(100vh - 100px);
  display: flex;
  margin: 20px;
}

.patientDashboardLeftContainer {
  width: calc(100% - 300px);
  margin-right: 20px;

  border-radius: 18px;
}

.doctorReportDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.doctorReportDetails > div {
  width: 20%;
  box-shadow: 0px 0px 2px 1px #fefefe;
  background: #ffffff;
  height: 100px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #202c56;
}

.bookAppointmentTitle {
  font-size: 30px;
  line-height: 1.1;
}

.patientDetail {
  box-shadow: 0px 0px 2px 1px #fefefe;
  background: #ffffff;
  color: #202c56;
  font-weight: 600;
  height: 331px;
  margin-bottom: 20px;
  border-radius: 18px;
  padding: 9px 30px;
}

.prescriptionDetailData > div {
  color: #000000c7;
  margin-bottom: 5px;
  font-size: 12px;
  border-bottom: 1px solid #d3d3d38a;
  margin-bottom: 10px;
  font-weight: normal;
  padding-bottom: 10px;
}

.seeReportButton {
  width: 100%;
  border: none;
  background: #202c56;
  color: white;
  display: block;
  text-align: center;
  padding: 2px 0px;
}

.seeReportButton:hover {
  color: white !important;
}
.prescriptionDetailData:first-child {
  font-weight: bold;
  margin-bottom: 5px;
  border: none;
}

.patientDetail img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.patientDetailsData {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  color: #202c56;
  border-bottom: 1px solid #d3d3d38a;
  font-size: 12px;
}

.patientDetailName {
  font-size: 30px;
  line-height: 1.2;
}

.reportReviewContainer {
  display: flex;
  justify-content: space-between;
}

.reportReviewContainer > div {
  width: 30%;
  min-height: 300px;
  box-shadow: 0px 0px 2px 1px #fefefe;
  background: #ffffff;
  border-radius: 18px;
  padding: 15px;
}

.notificationList {
  padding: 0;
  list-style: none;
}

.notificationList li {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #d3d3d38a;
  border-radius: 0;
}

.EHRProgress {
}

.EHRAlreadyReviewed {
}

.EHRReadyToReview {
}

.EHRDetailSection {
  color: #202c56;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.patientDashboardRightContainer {
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 2px 1px #fefefe;
  border-radius: 18px;
  padding: 15px;
  height: 305px;
}

.patientDashboardRightContainer li {
  margin: 0;
  padding: 10px 15px;
  border-radius: 0px;
}

.bookDemoButton {
  width: 100%;
  background: #202c56 !important;
  color: white !important;
  font-weight: bold !important;
}
